<h1>about</h1>

<p>Este projeto foi utilizado como trabalho final da disciplina de Banco de dados 2 2021.1 
com o CRUD construído pelo professor Acauan durante as aulas, a implementação das funções de relacionamento de
amizade, exibição e armazenamento de foto, e atualização de foto de perfil foram feitas pelo aluno Luis Henrique.</p>